:root  {
    --background1: hsl(222, 26%, 31%);
    --switcher-and-keypad-background1: hsl(223, 31%, 20%);
    --display-background1: hsl(224, 36%, 15%);
    --key-background1: hsl(30, 25%, 89%);
    --key--border1: hsl(225, 21%, 49%);
    --text-color1: hsl(221, 14%, 31%);
    --reset-and-dell-background1: hsl(225, 21%, 49%);
    --reset-and-dell-border1: hsl(224, 28%, 35%);
    --equal-and-radio-background1: hsl(6, 63%, 50%);
    --equal-border1: hsl(6, 70%, 34%);
    --buttons-color1: rgb(255, 255, 255);
    --equal-button-color1: rgb(255, 255, 255);
    --header-text-color1: rgb(255, 255, 255);

    --background2: hsl(0, 0%, 90%);
    --switcher-and-keypad-background2: hsl(0, 5%, 81%);
    --display-background2: hsl(0, 0%, 93%);
    --key-background2: hsl(45, 7%, 89%);
    --key--border2: hsl(35, 11%, 61%);
    --text-color2: hsl(60, 10%, 19%);
    --reset-and-dell-background2: hsl(185, 42%, 37%); 
    --reset-and-dell-border2: hsl(185, 58%, 25%);
    --equal-and-radio-background2: hsl(25, 98%, 40%);
    --equal-border2: hsl(25, 99%, 27%);
    --buttons-color2: rgb(255, 255, 255);
    --equal-button-color2: rgb(255, 255, 255);
    --header-text-color2: hsl(60, 10%, 19%);

    --background3: hsl(268, 75%, 9%);
    --switcher-and-keypad-background3: hsl(268, 71%, 12%);
    --display-background3: hsl(268, 71%, 12%);
    --key-background3: hsl(268, 47%, 21%);
    --key--border3: hsl(290, 70%, 36%);
    --text-color3: hsl(52, 100%, 62%);
    --reset-and-dell-background3: hsl(281, 89%, 26%); 
    --reset-and-dell-border3: hsl(285, 91%, 52%);
    --equal-and-radio-background3: hsl(176, 100%, 44%);
    --equal-border3: hsl(177, 92%, 70%);
    --buttons-color3: rgb(255, 255, 255);
    --equal-button-color3: hsl(198, 20%, 13%);
    --header-text-color3: hsl(52, 100%, 62%);
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'League Spartan', sans-serif;
    background-color: var(--background1);
}
.container {
    max-width: 460px;
    height: 100vh;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

/*// screen query*/
@media (min-width: 460px) {
    .container {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        height: fit-content;

    }
    
}
header {
    padding: 30px;
    display: flex;
    color: var(--header-text-color1);
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 1.5px;
}
.logo {
    font-size: 32px;
}

.theme-container {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}
.theme-switch {
      
}
.theme-id {
    padding: 0px 7px 0px 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 5px;
}
.theme-option {
    display: flex;
    gap: .7rem;
    background-color: var(--switcher-and-keypad-background1);
    padding: 5px 6px;
    border-radius: 14px;
}
.theme-option input {
    appearance: none;
    background-color: hsla(0, 0%, 0%, 0);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    transition: .4s;
}
.theme-option input:checked {
    background-color: var(--equal-and-radio-background1);
    transform: rotateY(180deg);
    transition: .4s;
}

.display {
    width: 76%;
    height: 70px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    background-color: var(--display-background1);
    border: none;
    outline: none;
    padding: 10px 6%;
    text-align: right;
    font-size: 38px;
    color: white;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 20px;
    overflow: hidden;
}
.keypad {
    border-radius: 8px;
    background-color: var(--switcher-and-keypad-background1);
    width: 80%;
    margin: auto;
    padding: 4%;
    margin-bottom: 32px;
}

.keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.key {
    border-radius: 6px;
    border: none;
    border-bottom: 4px solid var(--key--border1);
    height: 66px;
    margin: 8px;
    background-color: var(--key-background1);
    font-size: 28px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
    padding-top: 6px;
    color: var(--text-color1);
}
.pad-buttons {
    display: flex;
    justify-content: space-between;
}
.pad-buttons button {
    width: 100%;
}


#equal-button {
    border-bottom: 4px solid var(--equal-border1);
    background-color:  var(--equal-and-radio-background1);
    color: var(--equal-button-color1);
    font-size: 20px;
}
#reset-button, #del-button {
    border-bottom: 4px solid var(--reset-and-dell-border1);
    background-color: var(--reset-and-dell-background1);
    color: var(--buttons-color1);
    font-size: 20px;
}

